.field {
  height           : 100vh;
  width            : 100vw;
  border           : 3px solid black;
  position         : relative;
  background-image : url("/assets/img/field.png");
  background-size  : 20px;
}

.tank {
  position   : absolute;
  width      : 20px;
  height     : 20px;
  background : white;
  border-top : 5px solid yellow;
}

.seconds {
  position : absolute;
  left     : 45%;
  top      : 20px;
}
